@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&display=swap");
.main-nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.main-nav-container .main-nav {
  margin: 2em 0;
}
.main-nav-container .main-nav__navlist {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  list-style: none;
}
.main-nav-container .main-nav__navlist .main-nav__navitem:nth-child(2) {
  margin-right: 1.25em;
  margin-left: 1.25em;
}

.featured {
  display: flex;
  flex-direction: column;
  margin-top: 25rem;
}
.featured__imgcontainer {
  max-width: 100%;
  height: auto;
  margin: 0.75rem;
}
.featured__taglines {
  margin: 0.75em;
  max-width: 100%;
}
.featured__buttons {
  display: block;
  max-width: 80%;
  margin-left: auto;
}
@media (min-width: 375px) {
  .featured__buttons {
    max-width: 75%;
  }
}
@media (min-width: 500px) and (min-width: 680px) {
  .featured__buttons {
    max-width: 65%;
  }
}

.additional {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5rem 2rem 2rem 2rem;
}
.additional__copy-container {
  margin: 1.5rem;
  padding: 1.5rem;
}

.features-section {
  margin-top: 6rem;
  padding: 1.5rem 0;
  text-align: center;
}
.features-section article {
  padding: 0;
}

@media (min-width: 768px) {
  .main-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .main-nav-container__imgcontainer {
    width: 50%;
  }
  .main-nav-container .main-nav {
    padding: 0.75em;
  }
  .main-nav-container .main-nav__navlist {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }

  .featured {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20rem 0 20rem 0;
  }
  .featured__imgcontainer {
    max-width: 65%;
    height: auto;
    padding-left: 0;
  }
  .featured__taglines {
    max-width: 50%;
  }
  .featured__buttons {
    margin: 3rem 0 3rem 0;
  }

  .additional {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin: 5rem 2rem 10rem;
  }
  .additional__copy-container {
    max-width: 30%;
  }

  .features-section {
    display: flex;
    flex-direction: column;
  }
  .features-section__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .features-section__item:nth-child(3) {
    flex-direction: row-reverse;
  }
  .features-section__item:nth-child(3) .features-section__copy p {
    margin-left: 0;
  }
  .features-section__img-container {
    max-width: 100%;
  }
  .features-section__copy {
    max-width: 46em;
  }
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Kufam", "sans-serif";
  font-weight: 700;
}

h1 {
  font-size: 42pt;
}

h2 {
  font-size: 36pt;
}

h3 {
  font-size: 32pt;
}

h4 {
  font-size: 28pt;
}

h5 {
  font-size: 26pt;
}

h6 {
  font-size: 20pt;
}

p, em, label, input, b, a, span {
  font-size: 18pt;
  font-family: "Cairo", "sans-serif";
}

.main-nav__navlink {
  font-size: 14pt;
  text-decoration: none;
  font-weight: 700;
}
@media (min-width: 768px) {
  .main-nav__navlink {
    font-size: 18pt;
  }
}

.featured__tagline--bigbold {
  font-weight: bold;
  font-size: 25pt;
  text-align: center;
}
@media (min-width: 768px) {
  .featured__tagline--bigbold {
    text-align: left;
    font-size: 40pt;
  }
}

.featured .button {
  font-size: 20pt;
  font-weight: 600;
}

.additional__tagline {
  font-size: 18pt;
  text-align: center;
  font-weight: 400;
}
@media (min-width: 768px) {
  .additional__tagline {
    text-align: left;
    font-size: 30pt;
  }
}

.features-section__copy p {
  font-size: 18pt;
}
@media (min-width: 768px) {
  .features-section__copy p {
    font-size: 30pt;
  }
}

.button {
  padding: 1.75rem;
  border-radius: 15px;
  border: none;
  background-color: #FFD102;
  cursor: pointer;
}
.button:hover {
  background-color: #000;
  color: #FFFFFF;
  transition: background-color 0.2s ease-in;
}

.additional__copy-container {
  border-radius: 15px;
  box-shadow: 1px 1px 1em #000;
  text-align: left;
  max-width: 100%;
}

@media (min-width: 768px) {
  .additional p {
    margin: 0;
    padding: 3rem;
  }
  .additional__copy-container {
    border-radius: 15px;
    box-shadow: 1px 1px 1em #000;
    text-align: left;
    padding: 4rem;
    max-width: 46em;
  }
}
.modal-beta {
  display: grid;
  position: absolute;
  top: 30%;
  left: 35%;
  right: 25%;
  background: #FFD201;
  border: 1px solid #000;
  border-radius: 15px;
  padding: 3.5rem;
  z-index: 999;
  grid-template-columns: 1fr 1fr;
}
.modal-beta__title {
  background-color: #FFF;
  align-self: center;
  border-radius: 15px;
}
.modal-beta__form {
  border-radius: 15px;
}
.modal-beta__form label {
  margin: 0;
  padding: 0;
}
.modal-beta__form input {
  padding: 0.75rem;
}
.modal-beta__form input[type=submit] {
  padding: 0.75rem;
  display: block;
  margin: auto;
  cursor: pointer;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.none {
  display: none;
}

.main-nav-container {
  background-color: #FFF3C4;
}
.main-nav-container .main-nav {
  background-color: #F7C948;
}
.main-nav-container .main-nav__navitem {
  background-color: #FADB5F;
  border-radius: 15px;
}
.main-nav-container .main-nav__navitem .main-nav__navlink {
  color: #222222;
  padding: 0.75em;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
