@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&display=swap");
.main-nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-nav-container .main-nav__navlist {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  list-style: none;
}
.main-nav-container .main-nav__navlist .main-nav__navitem {
  margin-right: 1.5rem;
}

.featured {
  display: flex;
  flex-direction: column;
}
.featured__imgcontainer {
  width: 100%;
  height: auto;
  margin: 0.75rem;
}
.featured__taglines {
  margin: 0.75em;
}
.featured__taglines .featured__tagline-1 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.features-section {
  margin-top: 6rem;
  padding: 1.5rem 0;
  text-align: center;
}
.features-section article {
  padding: 0;
}

@media (min-width: 768px) {
  .main-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .main-nav-container__imgcontainer {
    width: 50%;
  }
  .main-nav-container .main-nav__navlist {
    display: flex;
    justify-content: space-between;
  }

  .featured {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0.75em;
  }
  .featured__imgcontainer {
    width: 30%;
    height: auto;
  }
  .featured__taglines {
    max-width: 30%;
  }
  .featured__buttons {
    margin-top: 4rem;
  }
  .featured__buttons .button {
    margin: 0 0 3rem 0;
    width: 100%;
  }

  .additional {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .additional__copy-container {
    max-width: 30%;
  }

  .features-section {
    display: flex;
    flex-direction: column;
  }
  .features-section__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .features-section__item:nth-child(3) {
    flex-direction: row-reverse;
  }
  .features-section__item:nth-child(3) .features-section__copy p {
    margin-left: 0;
  }
  .features-section__img-container {
    max-width: 100%;
  }
  .features-section__copy {
    max-width: 46em;
  }
}
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Kufam", "sans-serif";
  font-weight: 700;
}

h1 {
  font-size: 42pt;
}

h2 {
  font-size: 36pt;
}

h3 {
  font-size: 32pt;
}

h4 {
  font-size: 28pt;
}

h5 {
  font-size: 26pt;
}

h6 {
  font-size: 20pt;
}

p, em, b, a, span {
  font-size: 18pt;
  font-family: "Cairo", "sans-serif";
}

.main-nav__navlink {
  font-size: 14pt;
  text-decoration: none;
  font-weight: 700;
}

.featured__tagline--bigbold {
  font-weight: bold;
  font-size: 35pt;
}

.featured__tagline--bigbold span {
  font-size: 30pt;
}

.featured .button {
  font-size: 20pt;
  font-weight: 600;
}

.additional__tagline-1 {
  font-size: 30pt;
}

.additional__tagline-2 {
  font-size: 30pt;
}

.features-section__copy p {
  font-size: 30pt;
}

@media (min-width: 768px) {
  .main-nav__navlink {
    font-size: 18pt;
  }
}
.button {
  padding: 1.75rem;
  border-radius: 15px;
  border: none;
  background-color: #FFD102;
  cursor: pointer;
}
.button:hover {
  background: #000;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .additional p {
    margin: 0;
    padding: 3rem;
  }
  .additional__copy-container {
    border-radius: 15px;
    box-shadow: 1px 1px 1em #000;
    text-align: left;
    padding: 4rem;
    min-height: 250px;
  }
}

/*# sourceMappingURL=main.css.map */
