html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $neutral-2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
  max-width: 100%;
}
