html {
  box-sizing: border-box;
  background-color: $background-color-yellow-2;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: inherit;
  padding: inherit;
  max-width: 100%;
}
