html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// *,
// *:before,
// *:after {
//   box-sizing: inherit;
//   margin: inherit;
//   padding: inherit;
//   max-width: 100%;
// }

* + * {
  margin: 20px;
}