
.additional {
  background-color: lighten($neutral-2, 8);
  &__title {
    color: $background-color-yellow-3;
  }
  &__copy-container {
    background-color: $background-color-yellow-3;
    border-radius: 15px;
    box-shadow: 1px 1px 1em $neutral-2;
    text-align: left;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .additional {
    & p {
      margin: 0;
      padding: 3rem;
    }


    &__copy-container {
      border-radius: 15px;
      box-shadow: 1px 1px 1em $neutral-1;
      text-align: left;
      padding: 4rem;
      max-width: 46em;
    }
  }
}