.button {
  padding: 1.75rem;
  border-radius: 15px;
  border: none;
  background-color: #FFD102;
  box-shadow: 1px 1px 1em #000;
  cursor: pointer;

  &:hover {
    background-color: #000;
    color: #FFFFFF;
    transition: background-color 0.2s ease-in;
  }
}