.features-section {
  background-color: $neutral-2;
  &__title {
    color: $background-color-yellow-3;
  }
  
  &__item {
    border-radius: 30px;
    color: $background-color-yellow-3;
  }

  &__img-container {
    background: $background-color-yellow-1;
    border-radius: 30px;
    
    @media (min-width: 768px) {
    border: 1px solid $neutral-1;
    border-radius: 100%;
    }
    
  }
}