.features-section {
  background-color: $neutral-4;

  &__item {
    background-color: $background-color-yellow-3;
    border-radius: 30px;
  }

  &__img-container {
    background: $background-color-yellow-1;
    border-radius: 30px;
    
    @media (min-width: 768px) {
    border: 1px solid $neutral-1;
    border-radius: 100%;
    }
    
  }
}