.main-nav-container {
  background-color: $background-color-yellow-1;

  .main-nav {
    
    &__navitem {
      border-radius: 15px;

      .main-nav__navlink {
        color: $neutral-1;
        margin: 0;
      }
    }
  }
}