svg {


  @media (min-width: 768px) {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
  }
}

.additional__svg {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  top: 0;
}