@import url('https://fonts.googleapis.com/css2?family=Kufam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&display=swap');

html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-1;
  font-weight: 700;
}

h1 {
  font-size: 42pt;
}

h2 {
  font-size: 36pt;
}

h3 {
  font-size: 32pt;
}

h4 {
  font-size: 28pt;
}

h5 {
  font-size: 26pt;
}

h6 {
  font-size: 20pt;
}

p, em, label, input, b, a, span {
  font-size: 18pt;
  font-family: $font-family-2
}

.main-nav__navlink {
  font-size: 14pt;
  text-decoration: none;
  font-weight: 700;
  @media (min-width:768px) {
    font-size: 18pt;
  }
}

.featured__tagline--bigbold {
  font-weight: bold;
  font-size: 25pt;
  text-align: center;

  @media (min-width: 768px) {
    text-align: left;
    font-size: 40pt;
  }
}

.featured .button {
  font-size: 20pt;
  font-weight: 600;
}

.additional__tagline {
  font-size: 18pt;
  text-align: center;
  font-weight: 400;
  @media (min-width: 768px) {
      text-align: left;
      font-size: 30pt;
  }
}

.features-section__copy p {
  font-size: 18pt;
  @media (min-width: 768px) {
    font-size: 30pt;
  }
}


@media (min-width: 1025px) {
  
}